.main-menu {
    width: 200px;
}

.project-columns {
    /*overflow-x: scroll;*/
}

.project-column {
    width: 256px;
}

.project-column-dnd-list {
    height: 100%;
}

.project-ticket-wrapper {
    cursor: pointer;
    margin-bottom: 16px;
}

.project-ticket-add-button {
    width: 100%;
}

.project-column-title h1 {
    margin-bottom: .45rem;
}

aside.menu {
    padding-top: .25rem;
}

.disable-selection {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    outline: 0;
}

.image {
    pointer-events: none;
}

.is-size-6-5 {
    font-size: .85rem !important;
}

.project-ticket:hover .ticket-title {
    color: hsl(217, 71%, 53%);
}

.project-ticket .ticket-title {
    font-weight: 400;
    padding: .5rem;
}

li.dndPlaceholder {
    height: 48px;
}

.project-ticket-wrapper .tags .tag:first-child {
    border-bottom-left-radius: 0;
}

.project-ticket-wrapper .tags .tag:last-child {
    border-bottom-right-radius: 0;
}

.project-ticket-wrapper .tag {
    height: 1em;
    flex-grow: 1;
}