.main-menu {
    width: 200px;
}

.project-columns {
    /*overflow-x: scroll;*/
}

.project-column {
    width: 280px;
}

.project-column-dnd-list {
    height: 100%;
}

.project-ticket-wrapper {
    cursor: pointer;
    margin-bottom: 16px;
}

.project-ticket-add-button {
    width: 100%;
}

.project-column-title h1 {
    margin-bottom: .45rem;
}

aside.menu {
    padding-top: .25rem;
}

.disable-selection {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    outline: 0;
}

.image {
    pointer-events: none;
}

.is-size-6-5 {
    font-size: .85rem !important;
}

.project-ticket:hover .ticket-title {
    color: hsl(217, 71%, 53%);
}

.project-ticket .ticket-title {
    font-weight: 400;
    padding: .5rem;
}

li.dndPlaceholder {
    height: 48px;
}

.project-ticket-wrapper .tags .tag:first-child {
    border-bottom-left-radius: 0;
}

.project-ticket-wrapper .tags .tag:last-child {
    border-bottom-right-radius: 0;
}

.project-ticket-wrapper .tag {
    height: 1em;
    flex-grow: 1;
}

#ticket-modal .modal-card {
    width: 80%;
}

#ticket-modal .buttons {
    margin-bottom: 0;
}

#ticket-modal .buttons .button {
    margin-bottom: 0;
}

#ticket-modal .tag .delete {
    margin-right: -.6rem;
    margin-left: .2rem;
}

#ticket-modal .tags {
    margin-bottom: 0;
}

#ticket-modal .tags .tag {
    margin-bottom:  0;
}

#ticket-modal .ticket-title-input {
    margin-bottom: 0.5em;
}

.image.is-rounded {
    border-radius: 50%;
}

.tag.is-pink {
    background-color: #ff38b6;
    color: #fff;
}

.tag.is-purple {
    background-color: #9f38ff;
    color: #fff;
}

.tag.is-orange {
    background-color: #ff8538;
    color: #fff;
}

.tag.is-grey {
    background-color: #7e7e7e;
    color: #fff;
}


/* PRELOADER */

.spinner-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    background: white;
    z-index: 100;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    cursor: pointer;
}

.spinner {
    margin: 250px auto;
    width: 50px;
    height: 40px;
    text-align: center;
    font-size: 10px;
}

.spinner > div {
    background-color: #00d1b2;
    height: 100%;
    width: 6px;
    display: inline-block;

    -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
    animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
}

.spinner .rect3 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}

.spinner .rect4 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
}

.spinner .rect5 {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
    0%, 40%, 100% { -webkit-transform: scaleY(0.4) }
    20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
    0%, 40%, 100% {
        transform: scaleY(0.4);
        -webkit-transform: scaleY(0.4);
    }  20% {
           transform: scaleY(1.0);
           -webkit-transform: scaleY(1.0);
       }
}