.main-menu {
    width: 200px;
}

.project-columns {
    overflow-x: scroll;
}

.project-column {
    width: 256px;
}

.project-ticket {
    cursor: pointer;
    margin-bottom: 16px;
}

.disable-selection {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    outline: 0;
}