<div id="loginPage" style="position: absolute; z-index: 99999; width: 100%; height: 100%; top: 0">
<section class="hero is-fullheight is-medium is-primary is-bold">
    <div class="hero-body">
        <div class="container">
            <div class="columns is-centered">
            <article class="card is-rounded">
                <div class="card-content">
                    <h4 class="title has-text-black has-text-centered">AgileBoard</h4>
                    <br>
                    <p class="control has-icon">
                        <input class="input"  placeholder="Login" ng-model="$ctrl.Login">
                        <span class="icon is-small">
                            <i class="fa fa-user"></i>
                        </span>
                    </p>
                    <br>
                    <p class="control has-icon">
                        <input class="input" type="password" placeholder="Password" ng-model="$ctrl.Password">
                        <span class="icon is-small">
                            <i class="fa fa-lock"></i>
                        </span>
                    </p>
                    <br>
                    <p class="control" ng-click="$ctrl.LogIn($ctrl.Login, $ctrl.Password)">
                        <button class="button is-primary is-medium is-fullwidth">
                            Login
                        </button>
                    </p>
                    <br>
                    <p class="text has-text-danger has-text-centered">{{LoginError}}</p>
                </div>
            </article>
        </div>
    </div>
    </div>
</section>
</div>