<div class="card project-ticket disable-selection"
    dnd-draggable="$ctrl.ticket">
    <div class="card-image" ng-if="$ctrl.ticket.TicketPic !== null">
        <figure class="image is-2by1">
            <img src="{{ $ctrl.ticket.TicketPic }}">
        </figure>
    </div>
    <div class="card-content">
        <div class="media">
            <div class="media-content">
                <p class="subtitle is-5">{{ $ctrl.ticket.TicketTitle }}</p>
            </div>
        </div>
        <div class="content">
            {{ $ctrl.ticket.TicketDescription }}
            <br>
            <!--TODO: datetime, due date-->
            <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
        </div>
    </div>
</div>