<div class="hero is-small">
    <div class="hero-body">
        <div class="columns">
            <div class="column"></div>
            <div class="column">
                <h1 class="title level-item disable-selection"
                    ng-if="!EditingProject"
                    ng-dblclick="$ctrl.EnableProjectNameEditing($ctrl.project)">
                    {{ $ctrl.project.ProjectName }}
                </h1>
                <input class="input level-item is-medium is-primary is-rounded"
                       ng-if="EditingProject"
                       ng-model="EditingProjectName"
                       ng-keypress="$event.keyCode == 13 ? $ctrl.SetProjectName($ctrl.project, EditingProjectName) : ''" />
            </div>
            <div class="column"></div>
        </div>
    </div>
</div>
<div class="columns project-columns is-mobile">
    <div class="column is-narrow project-column" ng-repeat="column in Columns">
        <div class="project-column-title">
            <h1 class="subtitle is-6 disable-selection"
                ng-if="EditingColumn !== column.ColumnId"
                ng-dblclick="$ctrl.EnableColumnNameEditing(column)">
                {{ column.ColumnName }}
            </h1>
            <input class="input is-small is-primary is-rounded"
                   ng-if="EditingColumn === column.ColumnId"
                   ng-model="EditingColumnName"
                   ng-keypress="$event.keyCode == 13 ? $ctrl.SetColumnName(column, EditingColumnName) : ''"/>
        </div>
        <div class="column">
            <a class="button is-primary project-ticket-add-button"
                ng-click="$ctrl.AddNewTicket(column)">
                <span class="icon"><i class="fas fa-plus"></i></span>
                <span>Add ticket</span>
            </a>
        </div>
        <div class="project-column-dnd-list"
             dnd-list=""
             dnd-drop="$ctrl.OnTicketDrop(column, index, item)">
            <ab-project-ticket ng-repeat="(idx, ticket) in column.Tickets" ticket="ticket"
                on-ticket-update="column.Tickets[idx] = updTicket">
            </ab-project-ticket>
        </div>
    </div>
    <div class="column is-narrow project-column has-text-centered">
        <h1 class="subtitle is-6">
            Add new column
        </h1>
        <br/><br/>
        <div class="button is-primary"
             ng-click="$ctrl.AddNewColumn($ctrl.project)">
            <i class="fas fa-plus"></i>
        </div>
    </div>
</div>

<div id="ticket-modal" class="modal">
    <div class="modal-background" ng-click="TicketModal.Hide()"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <div class="level" style="width: 100%">
                <div class="level-left">
                    <ab-assignee-selector class="level-item"
                                          current-assignee="TicketModal.Ticket.AssigneeId"
                                          on-assignee-selected="TicketModal.Ticket.AssigneeId = user.UserId">
                    </ab-assignee-selector>
                    <div class="buttons has-addons level-item">
                        <a class="button is-outlined is-dark">
                            <span class="icon">
                                <i class="far fa-clock"></i>
                            </span>
                        </a>
                        <a id="ticket-start-date-btn" class="button is-outlined is-dark"
                            ng-click="TicketModal.EditStartDate()">
                            {{ TicketModal.Ticket.StartDate | datetime }}
                        </a>
                        <input id="ticket-start-date" type="hidden"
                               ng-value="TicketModal.Ticket.StartDate | datetime:'YYYY-MM-DD'">
                        <a id="ticket-end-date-btn" class="button is-outlined is-dark"
                           ng-click="TicketModal.EditEndDate()">
                            {{ TicketModal.Ticket.EndDate | datetime }}
                        </a>
                        <input id="ticket-end-date" type="hidden"
                               ng-value="TicketModal.Ticket.EndDate | datetime:'YYYY-MM-DD'">
                    </div>
                    <a class="button is-outlined is-danger level-item">
                        <span class="icon">
                            <i class="fas fa-heart"></i>
                        </span>
                    </a>
                </div>
                <div class="level-right pull-right">
                    <a class="delete" aria-label="close" ng-click="TicketModal.Hide()"></a>
                </div>
            </div>
        </header>
        <section class="modal-card-body">
            <input class="ticket-title-input input" ng-model="TicketModal.Ticket.TicketTitle"/>
            <br/>
            <textarea class="textarea" placeholder="Description" rows="5" ng-model="TicketModal.Ticket.TicketDescription">
            </textarea>
            <br/>
            <div class="level-left">
                <span class="icon level-item">
                    <i class="fas fa-tags"></i>
                </span>
                <span class="tags level-item" ng-if="TicketModal.Ticket.Tags && TicketModal.Ticket.Tags.length > 0">
                    <span ng-repeat="tag in TicketModal.Ticket.Tags"
                          class="tag is-{{tag.TagColor}} is-rounded">
                        {{tag.TagTitle}}
                        <button class="delete"></button>
                    </span>
                </span>
                <a class="button is-text is-small level-item is-rounded">Add tag</a>
            </div>

            <label class="label">Depends on:</label>

            <input class="input input-sm" ng-model="TicketModal.TaskSearch"
                   placeholder="Add dependency">
            <div class="dependencies">
                <div class="buttons">
                    <a class="button is-primary is-small"
                       style="display: block; margin-bottom: 4px"
                       ng-repeat="ticketId in TicketModal.Ticket.Dependencies">
                        {{TicketsIndex[ticketId].TicketTitle}}
                    </a>
                </div>

                <div class="dependencies-search" ng-if="TicketModal.TaskSearch.length > 0">
                    <a class="button is-outlined is-dark is-small"
                       style="display: block; margin-bottom: 4px"
                       ng-repeat="ticket in AllTickets | orderBy:'TicketTitle' | filter:TicketModal.TaskSearch"
                       ng-click="
                        TicketModal.Ticket.Dependencies.indexOf(ticket.TicketId) == -1 ?
                            TicketModal.Ticket.Dependencies.push(ticket.TicketId) : null;
                        TicketModal.TaskSearch = '';
                       ">
                        {{ticket.TicketTitle}}
                    </a>
                </div>
            </div>
        </section>
        <footer class="modal-card-foot">
            <button id="ticket-modal-save" class="button is-success"
                    ng-click="TicketModal.Save()">
                Save changes
            </button>
            <button class="button" ng-click="TicketModal.Hide()">Cancel</button>
        </footer>
    </div>
</div>