
<div class="project-ticket-wrapper"
     dnd-draggable="$ctrl.ticket">
    <header class="card-tags-header" ng-if="$ctrl.ticket.Tags && $ctrl.ticket.Tags.length > 0">
        <div class="tags has-addons">
            <span ng-repeat="tag in $ctrl.ticket.Tags"
                  class="tag is-{{tag.TagColor}} is-rounded">
            </span>
        </div>
    </header>
    <div class="card project-ticket disable-selection">
        <header class="card-header">
            <p class="card-header-title ticket-title is-size-6-5"
                ng-click="$ctrl.EnableEditing($ctrl.ticket)">
                {{ $ctrl.ticket.TicketTitle }}
            </p>
        </header>
        <div class="card-image" ng-if="$ctrl.ticket.TicketPic !== null">
            <figure class="image is-2by1">
                <img ng-src="{{ $ctrl.ticket.TicketPic }}">
            </figure>
        </div>
        <div class="card-footer">
            <time class="card-footer-item is-size-6-5">
                {{ $ctrl.ticket.StartDate | datetime }}
            </time>
            <time class="card-footer-item is-size-6-5">
                {{ $ctrl.ticket.EndDate | datetime }}
            </time>
        </div>
    </div>
</div>