<aside class="menu">
    <p class="menu-label">
        Projects
    </p>
    <ul class="menu-list">
        <li ng-repeat="project in Projects">
            <a class="{{ project.ProjectId == ActiveProject.ProjectId ? 'is-active' : ''}}"
                ng-click="$ctrl.SetActiveProject(project)">
                {{ project.ProjectName }}
            </a>
        </li>
        <li>
            <a class="button is-primary"
                ng-click="$ctrl.AddNewProject()">
                <span class="icon"><i class="fas fa-plus"></i></span>
                <span>Add project</span>
            </a>
        </li>
    </ul>
    <p class="menu-label">
        Reports
    </p>
    <ul class="menu-list">
        <li>
            <a>Gannt Chart</a>
        </li>
    </ul>
</aside>